@media(max-width: 810px) {
    .create_resume {
        font-size: 4rem;
    }
}

@media(max-width: 555px) {
    .create_resume {
        font-size: 3rem;
    }
}

@media(max-width: 450px) {
    .btn_box {
        width: 300px;
        height: 130px;
    }
    .added_cv{
        font-size: 25px;
    }
}